// style configuration
$background = #000
$available = #222
$target = gold
$primary = #a3533b
$light = #efefef
$fire = #d50000
$unit = 16px // cell size is per default 4x $unit
$unit2 = $unit/2
$unit4 = $unit/4
$unit16 = $unit/16
$material-carbon = radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) $unit2 $unit2, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 $unit16, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) $unit2 9px
$material-lava = repeating-linear-gradient(45deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8) $unit2, transparent 0px, transparent $unit ), repeating-linear-gradient(-45deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) $unit2, transparent 0px, transparent $unit), $fire

// layout
#app

  #map

    .cell
      background $material-carbon
      background-color #282828
      background-size 1rem 1rem
      position relative
      width 4rem
      height 4rem
      box-sizing border-box
      border 1px solid $available
      color white // for debug purposes
      transition all .5s

      &.blocked
        &:not(.start)
          background $background
          border none
        &:not(.start):not(.background)
          border-top .8rem solid #333
          border-left .8rem solid #333
          border-bottom .8rem solid #111
          border-right .8rem solid #111
      &.trap
        background $material-lava
        border $unit4 solid rgba($background, .8)
      &.target
        background $available
      &.target::before, &.target::after
        content ''
        display block
        position absolute
        width 70%
        height 70%
        top 50%
        left 50%
        transform translate(-50%, -50%)
      &.target::after
        background $target
        transition width 1s .3s, height 1s .3s
        animation glow 2s 0s infinite linear alternate
      &.target-closed::before
        transition opacity 1s .5s
        background $background
        opacity 0
      &.target-closed::after
        width 0
        height 0
